<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="http://a2.mzstatic.com/eu/r30/Purple49/v4/1f/52/97/1f52977a-f884-a33a-d552-9462b15e1602/icon175x175.jpeg">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/SINFcss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/bundles/SINFjs")
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- SINF WebApi Link -->
                    <a class="navbar-brand" href="/Home">SINF WebApp</a>
                </div>

                <div class="collapse navbar-collapse js-navbar-collapse">
                    <ul class="nav navbar-nav">         
                        <!-- Left Dropdown -->
                        <li class="dropdown mega-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu<span class="caret"></span></a>
                            <ul class="dropdown-menu mega-dropdown-menu">
                                <li class="col-sm-3">
                                    <ul>
                                        <li class="dropdown-header">Picking</li>
                                        <li><a href="#">Create Picking Wave</a></li>
                                    </ul>
                                </li>
                                <li class="col-sm-3">
                                    <ul>
                                        <li class="dropdown-header">WareHouse Management</li>
                                        <li><a href="/Home/Orders?tipoDoc=ECL">View Orders</a></li>
                                        <li><a href="/Home/TransferenciaArmazem?tipoDoc=TRA">Transfer Item</a></li>
                                    </ul>
                                </li>
                                <li class="col-sm-3">
                                    <ul>
                                        <li class="dropdown-header">Admin</li>
                                    </ul>
                                </li>                              
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Session["name"] <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </nav>
        </div>
    </header>

@RenderBody()

@RenderSection("scripts", required: false)
    <script>

        $(function () {

            $("a").click(function () {
                $("body").append("<div id='loader'><div class='spinner'></div></div>").fadeIn();
            });

        });
    </script>
</body>
</html>
