@{
    ViewBag.Title = "Encomenda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Encomenda de @ViewBag.encomenda[0].Entidade</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="Artigo" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Descrição" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Quantidade" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Secção" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Armazém" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Localização" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Lote" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Unidade" disabled></th>
                        <th><input type="text" class="form-control" placeholder="QuantTrans" disabled></th>
                        <th><input type="text" class="form-control" placeholder="EstadoTrans" disabled></th>
                        <th><input type="text" class="form-control" placeholder="PrecUnit" disabled></th>
                        <th><input type="text" class="form-control" placeholder="PrecoTotal" disabled></th>
                    </tr>
                </thead>
                <tbody class="table-hover">
                    @foreach (var produto in ViewBag.encomenda[0].LinhasDoc) {
                        <tr>
                            <td>@produto.Artigo</td>
                            <td>@produto.Descricao</td>
                            <td>@produto.Quantidade</td>
                            <td>@produto.Seccao</td>
                            <td>@produto.Armazem</td>
                            <td>@produto.Localizacao</td>
                            <td>@produto.Lote</td>
                            <td>@produto.Unidade</td>
                            <td>@produto.QuantTrans</td>
                            <td>@produto.EstadoTrans</td>
                            <td>@produto.PrecUnit €</td>
                            <td>@produto.PrecoTotalLinha €</td>
                        </tr>
                    }                  
                </tbody>
            </table>
            <div class="panel-heading" style="text-align:right">
                <h3 class="panel-title">Preço Total: @ViewBag.precoTotal €</h3>
            </div>
    </div>
        </div>
</div>
<br /><br />
