@{
    ViewBag.Title = "Encomenda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-title">
    <h3>Encomenda de @ViewBag.encomenda[0].Entidade</h3>
    Entrega: @ViewBag.encomenda[0].DataCarga @ViewBag.encomenda[0].HoraCarga
</div>

<table class="table-fill">
    <thead>
        <tr class="text-left">
            <th>Artigo</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Secção</th>
            <th>Armazem</th>
            <th>Localização</th>
            <th>Lote</th>
            <th>Unidade</th>
            <th>QuantTrans</th>
            <th>EstadoTrans</th>
        </tr>
    </thead>
    <tbody class="table-hover">
        @foreach (var produto in ViewBag.encomenda[0].LinhasDoc)
        {
            <tr>
                <td>@produto.Artigo</td>
                <td>@produto.Descricao</td>
                <td>@produto.Quantidade</td>
                <td>@produto.Seccao</td>
                <td>@produto.Armazem</td>
                <td>@produto.Localizacao</td>
                <td>@produto.Lote</td>
                <td>@produto.Unidade</td>
                <td>@produto.QuantTrans</td>
                <td>@produto.EstadoTrans</td>
            </tr>
        }
    </tbody>
</table>
